<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/buscador_vacunas/" method="GET" class="formu" style="margin-left: 450px; margin-right: 450px;">
        <table>
            <tr>
                <td>Ingrese id:</td>
                <td><input class="fchico" type="text" name="txt_id"></td>
            </tr><br>
        </table>
        <br><input style="border-radius: 3px; border: 1.5px black solid;" type="submit" value="Buscar">
        <button class="botones"><a href="/index/" class="link-dark" style="text-decoration: none;">Volver a inicio</a></button>
    </form>
</body>
</html>