{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="f">

    <div class="container">
        <div class="row">
          <div class="col">
            <img src="{% static 'img/logo-180x180-1.png' %}" alt="">
          </div>
          <div class="col">
            <span></span>
          </div>
          <div class="col">
            <span></span>
          </div>
        </div>
    </div>

    <style>
      a:hover{
        background-color: rgba(0, 0, 0, 0.199);
        padding: 10px;
        border-radius: 3px;
        border: none;
      }
    </style>

    <h1 class="display-6" style="text-align: center;">Registro vacunación COVID-19</h1>
    <br><br><br>

    <center>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="container">
              <div class="row">
                <h1 class="display-6" style="text-align: center; font-size: 2.1rem;">Vacunas</h1>
                <div class="col">
                  <hr><a class="link-dark lead" style="text-decoration: none; font-size: 1.8rem;" href="/ingreso_vacuna/">Ingresar</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <br><a class="link-dark lead" style="text-decoration: none; font-size: 1.8rem;" href="/actualizar_vacuna/">Actualizar</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <br><a class="link-dark lead" style="text-decoration: none; font-size: 1.8rem;" href="/busca_vacunas/">Buscar</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <br><a class="link-dark lead" style="text-decoration: none; font-size: 1.8rem;" href="/eliminar_vacuna/">Eliminar</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <br><a class="link-dark lead" style="text-decoration: none; font-size:1.8rem;" href="/listar_vacuna/">Listar</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container">
              <div class="row">
                <h1 class="display-6" style="text-align: center; font-size: 2.1rem;">Personas</h1>
                <div class="col">
                  <hr><a class="link-dark lead" style="text-decoration: none; font-size: 1.8rem;" href="/ingresar/">Ingresar</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <br><a class="link-dark lead" style="text-decoration: none; font-size: 1.8rem;" href="/buscar/">Buscar rut</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <br><a class="link-dark lead" style="text-decoration: none; font-size: 1.8rem;" href="/listar/">Listar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </center>


    <!--
    <center class="lead">
        <a class="link-dark" style="text-decoration: none; font-size: 1.8rem;" href="/ingresar/">Ingresar persona</a><br><br>
        <a class="link-dark" style="text-decoration: none; font-size: 1.8rem;" href="/listar/">Listar personas</a><br><br>
        <a class="link-dark" style="text-decoration: none; font-size: 1.8rem;" href="/buscar/">Buscar rut</a><br><br>
        <a class="link-dark" style="text-decoration: none; font-size: 1.8rem;" href="/ingreso_vacuna/">Ingresar vacuna</a><br><br>
        <a class="link-dark" style="text-decoration: none; font-size: 1.8rem;" href="/actualizar_vacuna/">Actualizar vacuna</a><br><br>
    </center>
    -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>