<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/vacuna_ingresada/" method="get">
        <input type="text" name="txt_nombre_vacuna" placeholder="nombre vacuna">
        <input type="text" name="txt_fabricacion" placeholder="fabricante">
        <input type="text" name="txt_tipo_vacuna" placeholder="tipo vacuna">
        <input type="text" name="txt_lote" placeholder="lote">
        <input type="text" name="txt_administracion" placeholder="tipo de administracion">     
        <input type="submit" value="uwu">
    </form>
</body>
</html>