.f{
    background-color: rgb(228, 210, 210) 
}

.formu{
    background-color: rgb(170, 169, 169);
    color: black;
    border: 1.5px black solid;
    border-radius: 5px;
    padding: 15px;
    margin-left: 250px;
    margin-right: 250px;
}


.fchico{
    border: none;
    border-bottom: 1.6px solid black;
    background-color: rgb(170, 169, 169);
    color: black;
    margin-left: 4px;
    margin-bottom: 10px;
    width: 150px;
}


.botones{
    text-decoration: none;
    border-radius: 3px;
    border: 1.5px black solid;
}
/*
tbody{
    text-transform: uppercase;
}
*/

